{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link href="{% static '/css/edit_book.css' %}" type="text/css" rel="stylesheet"/>
    <style>
        .alert {
            width: 290px;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        
        .alert-success {
            color: #29bb2c;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
        
        .alert-error {
            color: #fc0b07;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
    </style>
</head>
<body>
    <div class="edit_book-container">
        <h2>Edit Book</h2>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% for feild in form %}
            <div class="input-group">
                <label>{{feild.label}}</label>
                {{feild}}
            </div>
            {% endfor %}
            <button type="submit" class="edit_book-btn">Save Book</button>
            <div class="additional-options">
                <a href="/get_book/" class="back-to-login">Back to Library</a>
            </div>
        </form>
    </div>
</body>
</html>
