{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/get_book.css' %}" type="text/css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <title>Document</title>
</head>
<body>
    <div id="page1">
        <h1>Books in the Library📚!</h1> <a class="button" style="background-color: red;" id="Delete" href="/logout/">
            <i class="ri-logout-box-line"></i>
            <span class="lable">Logout</span>
        </a>
        
        <div id="search_add">

            <div class="group" style="height:4vw !important;">
                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                <form method="post" id="myForm" action="/search/">
                    {% csrf_token %}
                <input placeholder="Search Books By Author Name Or Id or Title" type="search" class="input" id="search" name="search" required>
                </form>
              </div>
            <a class="button" style="background-color: rgb(104, 247, 68); height:2vw; text-decoration:none;" id="Add" href="/add_book/">
                <i class="ri-git-repository-commits-line" style="color:rgb(7, 7, 7) !important"></i>
                <span class="lable" style="color:rgb(7, 7, 7) !important ;">Add Book</span>
            </a>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div style="color: red ;font-size:20px">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% if books %}
        <table border="2px solid black">
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>ISBN</th>
                <th>Edit/Delete</th>
            </tr>
            {% for book in books %}
            <tr>
                <td><a href="/get_book/{{book.id}}" style="text-decoration: none;">{{book.id}}</a></td>
                <td><a href="/get_book/{{book.id}}" style="text-decoration: none;">{{book.Title}}</a></td>
                <td>{{book.Author}}</td>
                <td>{{book.ISBN}}</td>
                <td><div id="buttons">
                    <a class="button" id="edit" href="/edit_book/{{book.id}}">
                        <i class="ri-pencil-fill"></i>
                        <span class="lable">Edit</span>
                    </a>
                    <a class="button" style="background-color: red;" id="Delete" href="/delete_book/{{book.id}}">
                        <i class="ri-delete-bin-2-line"></i>
                        <span class="lable">Delete</span>
                    </a>
                </div></td>
            </tr>    
            {% endfor %}
            {% elif messages %}
            {% else %}
            <h2 style="color: red;">No books in the Library</h2>
            {% endif %}
        </table>
    </div>
</body>
<script href="{% static '/js/get_book.js' %}"></script>
</html>